/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
  text-align: center;
}

.nameAndSocial{
  padding-top: 12%;
  opacity: 0;
  animation: fadeIn 2s; 
  animation-fill-mode: forwards;
  /* background-image: url('./images/codingBG.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #1d0033;
}

@keyframes fadeIn{
  0% { 
    opacity: 0 
  }
  100% { 
    opacity: 1 
  }
}

.nameAndJob h1{
  font-size: 100px;
  margin-bottom: 0;
  font-family: 'Darker Grotesque';
  font-weight: bold;  
}

.nameAndJob{
  text-align: left;
  width: 500px;
  margin: 0 auto;
  color: white;
}

.nameAndJob h3{
  font-size: 25px;
  font-family: 'Darker Grotesque';
  font-style: italic;
  margin-top: 2%;
}

.fa-level-down-alt {
  margin-top: 12%;
  color: white;
}

.levelDownWhiteSpace{
  margin: 16rem 44rem;
}

.fa-level-down-alt:hover, .fa-chevron-down:hover{
  animation: move-up-down 1s infinite;
  cursor: pointer;
}

@keyframes move-up-down {
  0% { 
    transform: translateY(0); 
  }
  50% { transform: translateY(10px); }
}


.socialMedia{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2%;
  top: 35%;
  color: white;
}

.fa-github-alt, .fa-linkedin-in{
  margin-bottom: 2rem;
}

.fa-github-alt:hover, .fa-linkedin-in:hover, .fa-twitter:hover{
  animation: shake 1s infinite;
  cursor: pointer;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.particles {
  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.about-me{
background-color: white;
}

.about-me-content{
  height: 1000px;
  width: 800px;
  margin: 0 auto;
}

.about-me-content h1{
  padding: 15% 0;
  font-size: 65px;
  font-weight: bold;
  font-family: "Darker Grotesque";
}

.about-me-content p{
  font-size: 24px;
  font-family: "Darker Grotesque";
}

.left-right-arrow{
margin-top: 15%;
display: flex;
justify-content: space-between;
}

.fa-chevron-down{
  margin-top: 15%;
}

.fa-chevron-left:hover{
  animation: move-left-right 1s infinite;
  cursor: pointer;
}
.fa-chevron-right:hover{
  animation: move-left-right 1s infinite;
  cursor: pointer;
}

.allArrows{
  width: 800px;
  margin: 0 auto;
}

@keyframes move-left-right {
  0% { 
    transform: translateX(0); 
  }
  50% { transform: translateX(-10px); }
}

@keyframes move-right-left {
  0% { 
    transform: translateX(0); 
  }
  50% { transform: translateX(10px); }
}